<% content_for :title do %>Set Up A Course Companion Trial<% end %>
<% content_for :description do %>Information on how to set up a Course Companion trial for your organisaion.<% end %>
<div class="hero-unit">
	<div class="center">
		<h3>Set Up A Trial</h3>
		<ul>
			<li>Fully functional service</li>
			<li>Free for 30 days</li>
			<li>We will work with you during the trial to tweak according to your specifications</li>
		</ul>
	</div>
</div>
<h4>FAQs</h4>
<p><strong>What does the trial allow me to do?</strong></br>
You will have a fully functional Course Companion to set up and use for your organisation, so you will be able to set up courses with all of their content, topics and Q&amp;As. You will be able to set up users and monitor their progress. Users will have full access, just like a live paid service. It's a real live service.</p>
<p><strong>How long does it take?</strong></br>
We will begin deploying your service as soon as we recieve your request. Expect about a day before it is ready because we will test it thoroughly to make sure everything is working properly and configured as a live service ready to go.</p>
<p><strong>What happens after I send my request?</strong></br>
You will receive a confirmation email to let you know we have received your request, and to confirm that you are happy with the terms. We will set up your service on our servers and configure your database, add server monitoring and set up a domain for you. Once that is all tested we will contact you with your domain and login details, and you're good to go!</p>
<p><strong>How much does it cost?</strong></br>
The trial is free and lasts 30 days from the day your service begins. After that if you'd like to contnue using the service you will simply become a paying client. The cost is based on the size of the database you need for your content and how many users will access the system.</p>
<p><strong>So it's set up, now what?</strong></br>
We will check in with you to see how the service is working for you, and to see if there is anything we can modify to improve the service. Minor changes, such as adding fields for extra content on pages, are done for you as a service. If you'd like any larger changes, we can talk about what kind of development costs that might incur and how long it will take. The point is we won't leave you hanging - we are here to provide a useful training platform for you.</p>
<p><strong>How will I pay for the service?</strong></br>
We will email an invoice at the end of every month, for the next month's use. This doesn't include the trial period of course.</p>
<p><strong>Are there any contracts?</strong></br>
None. You can stop the service at any time and only be charged for the remainder of that month. If you request to stop the service on or before the last day of the trial there will be no cost to you whatsoever. We will wipe the database clean should you wish to discontinue.</p>
<p>&nbsp;</p>
<p>Click the <%= link_to 'Set Up A Trial', root_path %> button to have a fully functional Course Companion set up for your organisation.</p>